$black: #000;
$white: #fff;
$grey: #D0D0D0;
//Green -Success
$green: #46C63A;
$green_1: #42B937;
$green_2: #3EAD35;

//Measurements
$p: 1em;
$radius: 0.5em;
$transition: 0.3s ease-in;

//Font
$font_1: 1em;
$font_2: 1.2em;
$font_3: 1.4em;
$font_4: 1.6em;
$font_5: 1.8em;

